* {
  box-sizing: border-box;
}

body {
  background-image: url(images/site-background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  font-family: "Tilt Neon", sans-serif;
  background-size: cover;
}

.card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  background-color: rgb(212, 122, 74);
  padding: 50px;
  font-size: 40px;
  width: fit-content;
  text-align: center;
  border-radius: 8px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 3px;
  font-style: oblique;
}

.description p {
  margin: 5px;
}
.description {
  margin-top: 20px;
  margin-bottom: 40px;
}

.description span,
footer span {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: white;
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.description span:hover,
footer span:hover {
  box-shadow: inset 1000px 0 0 0 white;
  color: #54b3d6;
  cursor: pointer;
}

footer p {
  margin: 5px;
}

.contact-me-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-me-content {
  background-color: antiquewhite;
  font-size: px;
  letter-spacing: 0.1em;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  padding: 18px 18px;
  width: 30%;
  border-radius: 7px;
  margin: auto;
  height: 20%;
}

.about-me-modal {
  display: none;`
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-me-content {
  background-color: antiquewhite;
  font-size: 25px;
  letter-spacing: 0.1em;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  padding: 18px 18px;
  width: 50%;
  border-radius: 7px;
  margin: auto;
  height: 55%;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 80%;
    margin: auto;
  }

  .card-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 970px) {
  .description span:hover,
  footer span:hover,
  .description span,
  footer span {
    box-shadow: none;
    background: none;
  }
  .about-me-content {
    top: 0;
    width: 80%;
    margin: 30px auto;
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .card-content {
    font-size: 12px;
  }
}
